<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Integration\Block\Adminhtml\Integration">
        <plugin name="restPermButtons" type="SchumacherFM\AdvancedRESTPerms\Block\Plugin\Adminhtml\Integration\PermButtons"/>
    </type>
</config>
